*{
    margin: 0%;
    padding: 0%;
}
:root {
    --primary-color: #4353df;
    --background-color: #afbed6;
    --dark-color: #151515;
}
.container-form{
    background: linear-gradient(var(--background-color), var(--primary-color));
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.entrada{
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entrada input, .entrada #categoria{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}


label{
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

form button{
 width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
  
form button:hover {
    background-color: #4353df;
}

@media screen and (max-width:768px){
  
   
}

@media screen and (max-width:425px){
    
}


@media screen and (max-width:320px){
    
}

